header {

  h1 {
    $shade: transparent;

    background: $shade;
  }
  h1 > a {
    $color: black;
    $contrast: red;

    padding: 0 20px;
    color: $color;
    font-size: 1.5em;
    font-weight: initial;
    letter-spacing: 1px;

    &:first-letter {
      color: $contrast;
    }
    &:hover {
      text-decoration: none;
      color: lighten($color, 20%);
    }
  }
}
